<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pet search functionality</title>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #06D001;
    }

    header {
        background-color: white;
        color: black;
        font-family: "Anek Devanagari";
        padding: 1px;
        text-align: center;
        font-weight: bold;
    }

    main {
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        border: solid black 1px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: linear-gradient(178.3deg, rgb(188, 251, 255) 11.5%, rgb(255, 253, 14) 103.1%);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #1f1f93;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
    }
    textarea{
        border-radius: 10px;
        padding: 2px;
    }
    textarea:active{
        border: none;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pet Adoption</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Adoptpet">Adopt Pet</a>
              </li>
              <li class="nav-item">
    
                <a class="nav-link" href="/pethelp">Pet Helpline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/selpet">Sell Pet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <main>
        <form id="search-form">
            <h2>Search Pets</h2>
            <div class="form-group">
                <label for="search-type">Type:</label>
                <select id="search-type" name="type">
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Cat">Fish</option>
                    <option value="Cat">Bird</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="search-keyword">Description:</label>
                <input type="text" id="search-keyword" name="keyword"></input>
            </div>
            <div class="form-image">
                <label for="search-image">Image:</label>
                <input type="file" id="search-image" name="keyword"></input>
            </div>
            <br>
            <button type="submit">Find help</button>
        </form>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>